/* Move down content because we have a fixed navbar that is 3.5rem tall */

body {
    padding-top: 3.5rem;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-top: 1px solid white;
}

.center-div {
    margin: 0 auto;
}

#updates-div {
    display: none;
    margin-top: 20px;
}

#india-recent-div {
    font-family: 'Karla', sans-serif;
    font-size: 13px;
    margin-bottom: 20px;
}

#updates-p {
    font-family: 'Karla', sans-serif;
    font-size: 17px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgb(28, 28, 255);
    width: 40%;
    background-color: #f1f1f1;
    padding: 15px 15px 15px 15px;
    border-radius: 0.2rem;
}

#india-recent-on-btn {
    background-color: #dfdfdf;
}

#india-recent-off-btn {
    background-color: #b8b8b8;
    display: none;
}

.thehindu_container {
    margin: auto;
    margin-top: 40px;
    font-family: 'Karla', sans-serif;
    background-image: radial-gradient( circle 879px at 10.4% 22.3%, rgba(255, 235, 238, 1) 0%, rgb(208, 210, 233) 93.6%);
    max-width: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.btn-thehindu {
    background-color: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
    border: none;
}

.btn-zone-container {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-zonesmap-container {
    margin: 0;
    margin-top: 40px;
}

.btn-zone {
    font-family: 'Karla', sans-serif;
}

.zonesheading_container {
    margin: auto;
    font-family: 'Karla', sans-serif;
    max-width: 70%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#green_zone {
    background-color: #5cfa7c;
}

#red_zone {
    background-color: rgb(255, 96, 96);
}

#orange_zone {
    background-color: rgb(255, 149, 79);
}

#new_counter {
    font-size: 20px;
}

.pointer {
    cursor: pointer;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #e9fbff;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #e9fbff;
}

.modal-content {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

#modaltitle {
    font-weight: 600;
    font-size: 17px;
}

#district_name {
    font-weight: 600;
    white-space: normal;
}

#district_table {
    font-size: 15px;
}

#district_table td, #district_table th {
    padding: 0.28rem;
}

#district_tbody {
    height: auto;
}

.table tbody+tbody {
    border-top: 0px;
    height: auto;
}

input {
    box-shadow: none;
}

/* #total_p {
    font-size: 15px;
}
#total_counter {
    font-size: 55px;
} */

#jumbo_totals {
    /* background-color: #5500b1; */
    background-image: radial-gradient( circle 263px at 100.2% 3%, rgba(12, 85, 141, 1) 31.1%, rgba(205, 181, 93, 1) 36.4%, rgba(244, 102, 90, 1) 50.9%, rgba(199, 206, 187, 1) 60.7%, rgba(249, 140, 69, 1) 72.5%, rgb(16, 96, 153) 72.6%);
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 4%;
    margin-bottom: 55px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0em;
}

#container_timeseries {}

#container_worldgraph {
    margin-bottom: 40px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
}

#mynavbar {
    background-image: linear-gradient( 109.6deg, rgba(0, 0, 0, 1) 11.2%, rgba(11, 132, 145, 1) 91.1%);
    font-family: 'Montserrat', sans-serif;
}

#totalnewcases {
    font-size: 18px;
}

#table-header {
    color: white;
    background-image: radial-gradient( circle 919px at 1.7% 6.1%, rgba(41, 58, 76, 1) 0%, rgba(40, 171, 226, 1) 100.2%);
}

html {
    position: relative;
    min-height: 100%;
}

#info {
    font-family: 'Karla', sans-serif;
    color: #ff7070;
    font-size: 13px;
}

#mytable {
    font-size: 15px;
    margin-bottom: 10%;
    border-radius: 0em;
}

#ind_tablebody {
    font-size: ;
}

td {
    white-space: nowrap;
}

#td_state {
    white-space: normal;
    font-weight: 600;
}

#td_country {
    white-space: normal;
    font-weight: 600;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-image: linear-gradient( 113.3deg, rgba(134, 209, 228, 1) -1.8%, rgba(60, 80, 115, 1) 86.4%);
}

#navpills {
    margin-bottom: 50px;
    border-radius: 0em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.card {
    font-family: 'Montserrat', sans-serif;
    border-radius: 0em;
    border: none;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

#card-container {
    margin-bottom: 50px;
}

.card-title {
    font-size: 30px;
}

.card-text {
    font-size: 18px;
}

#newcases {
    background: linear-gradient(90deg, #00b3db 0%, #3a47d5 100%);
    color: white;
}

#activecases {
    background-image: linear-gradient( 90.5deg, rgb(247, 133, 241) 1.6%, rgba(182, 76, 233, 1) 98.2%);
    color: white;
}

#recoveredcases {
    /* background-image: radial-gradient( circle farthest-corner at 0.4% 34.3%,  rgb(63, 216, 55) 1.3%, rgb(63, 160, 58) 90% ); */
    background-image: radial-gradient( circle 862px at 6% 18%, rgb(37, 199, 142) 9.4%, rgb(135, 142, 235) 83.6%);
    color: white;
}

#deaths {
    background-image: linear-gradient( 117.8deg, rgba(240, 19, 77, 1) 22.2%, rgba(228, 0, 124, 1) 88.7%);
    color: white;
}

#newdeaths {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(239, 87, 87, 0.74) 0%, rgba(245, 123, 13, 0.74) 90.2%);
    color: white;
}

#affectedCountriesh3 {
    font-family: 'Montserrat', sans-serif;
    color: #8a8a8a;
    margin-bottom: 25px;
    margin-top: 50px;
}

div.dataTables_filter input {
    width: auto;
}

#totalIndvTestd, #totalSampTestd {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#samples_h3 {
    font-family: 'Montserrat', sans-serif;
    color: #8a8a8a;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

#individuals_h3 {
    font-family: 'Montserrat', sans-serif;
    color: #8580ff;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

#up_newcases {
    color: #ff0000;
}

#up_newdeaths {
    color: #ff0000;
}

#up_newrecovered {
    color: #3cad53;
}

#india_newcases, #india_newdeaths, #india_newrecovered {
    font-size: 13px;
}

tspan {
    font-size: ;
    font-family: 'Montserrat', sans-serif;
}

/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    #total_p {
        font-size: 20px;
    }
    #total_counter {
        font-size: 60px;
    }
    #mytable {
        font-size: 15px;
        margin-bottom: 10%;
        border-radius: 0em;
    }
    #india_tbody, #world_tbody {
        display: block;
        height: 500px;
        overflow: auto;
    }
    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: ;
    }
}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    #total_p {
        font-size: 20px;
    }
    #total_counter {
        font-size: 60px;
    }
    #mytable {
        font-size: 15px;
        margin-bottom: 10%;
        border-radius: 0em;
    }
    #india_tbody, #world_tbody {
        display: block;
        height: 400px;
        overflow: auto;
    }
    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: ;
    }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    #total_p {
        font-size: 20px;
    }
    #total_counter {
        font-size: 60px;
    }
    .card-title {
        font-size: 25px;
    }
    #mytable {
        font-size: 15px;
        margin-bottom: 20%;
        border-radius: 0em;
    }
    /* #india_tbody, #world_tbody {
        display: block;
        height: 300px;
        overflow: auto;
    } */
    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .thehindu_container {
        margin: auto;
        margin-top: 40px;
        font-family: 'Karla', sans-serif;
        background-color: rgb(240, 240, 240);
        max-width: 70%;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .zonesheading_container {
        margin: auto;
        font-family: 'Karla', sans-serif;
        max-width: 70%;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #updates-p {
        font-family: 'Karla', sans-serif;
        font-size: 17px;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        color: rgb(28, 28, 255);
        width: 100%;
        background-color: #f1f1f1;
        padding: 15px 15px 15px 15px;
        border-radius: 0.2rem;
    }
    .mobile-only {
        display: ;
    }
    .desktop-only {
        display: none;
    }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #total_p {
        font-size: 20px;
    }
    #total_counter {
        font-size: 45px;
    }
    .card-title {
        font-size: 20px;
    }
    .card {
        min-width: fit-content;
    }
    #mytable {
        font-size: 13px;
        margin-bottom: 10%;
        border-radius: 0em;
    }
    #india_tbody, #world_tbody {
        display: block;
        height: 400px;
        width: auto;
        overflow: auto;
    }
    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .margin-top-40 {
        margin-top: 40px;
    }
    .mobile-only {
        display: ;
    }
    .desktop-only {
        display: none;
    }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    #links {
        margin-bottom: 10px;
    }
    #total_p {
        font-size: 20px;
    }
    #total_counter {
        font-size: 45px;
    }
    .card-title {
        font-size: 20px;
    }
    .card {
        min-width: fit-content;
    }
    #mytable {
        font-size: 13px;
        margin-bottom: 20%;
        border-radius: 0em;
    }
    #samples_h3 {
        font-family: 'Montserrat', sans-serif;
        color: #8a8a8a;
        margin-bottom: 28px;
        margin-top: 50px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .margin-top-40 {
        margin-top: 40px;
    }
    #latestnewsbtn {
        margin-bottom: 10px;
    }
    .thehindu_container {
        margin: auto;
        margin-top: 40px;
        font-family: 'Karla', sans-serif;
        background-color: rgb(240, 240, 240);
        max-width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .zonesheading_container {
        margin: auto;
        font-family: 'Karla', sans-serif;
        max-width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #updates-p {
        font-family: 'Karla', sans-serif;
        font-size: 17px;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        color: rgb(28, 28, 255);
        width: 100%;
        background-color: #f1f1f1;
        padding: 15px 15px 15px 15px;
        border-radius: 0.2rem;
    }
    .mobile-only {
        display: ;
    }
    .desktop-only {
        display: none;
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    #links {
        margin-bottom: 10px;
    }
    #total_p {
        font-size: 15px;
    }
    #total_counter {
        font-size: 45px;
    }
    .card-title {
        font-size: 20px;
    }
    .card {
        min-width: fit-content;
    }
    #mytable {
        font-size: 13px;
        margin-bottom: 20%;
        border-radius: 0em;
    }
    #samples_h3 {
        font-family: 'Montserrat', sans-serif;
        color: #8a8a8a;
        margin-bottom: 28px;
        margin-top: 50px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .margin-top-40 {
        margin-top: 40px;
    }
    #latestnewsbtn {
        margin-bottom: 10px;
    }
    .thehindu_container {
        margin: auto;
        margin-top: 40px;
        font-family: 'Karla', sans-serif;
        background-color: rgb(240, 240, 240);
        max-width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .zonesheading_container {
        margin: auto;
        font-family: 'Karla', sans-serif;
        max-width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #updates-p {
        font-family: 'Karla', sans-serif;
        font-size: 17px;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        color: rgb(28, 28, 255);
        width: 100%;
        background-color: #f1f1f1;
        padding: 15px 15px 15px 15px;
        border-radius: 0.2rem;
    }
    .mobile-only {
        display: ;
    }
    .desktop-only {
        display: none;
    }
}

@media (min-width: 200px) and (max-width: 480px) {
    #links {
        margin-bottom: 10px;
    }
    #total_p {
        font-size: 16px;
    }
    #total_counter {
        font-size: 45px;
    }
    .card-title {
        font-size: 22px;
    }
    #mytable {
        font-size: 13px;
        margin-bottom: 20%;
        border-radius: 0em;
    }
    #samples_h3 {
        font-family: 'Montserrat', sans-serif;
        color: #8a8a8a;
        margin-bottom: 28px;
        margin-top: 50px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .margin-top-40 {
        margin-top: 40px;
    }
    #latestnewsbtn {
        margin-bottom: 10px;
    }
    .thehindu_container {
        margin: auto;
        margin-top: 40px;
        font-family: 'Karla', sans-serif;
        background-color: rgb(240, 240, 240);
        max-width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .zonesheading_container {
        margin: auto;
        font-family: 'Karla', sans-serif;
        max-width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #updates-p {
        font-family: 'Karla', sans-serif;
        font-size: 17px;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        color: rgb(28, 28, 255);
        width: 100%;
        background-color: #f1f1f1;
        padding: 15px 15px 15px 15px;
        border-radius: 0.2rem;
    }
    .mobile-only {
        display: ;
    }
    .desktop-only {
        display: none;
    }
}