/* Move down content because we have a fixed navbar that is 3.5rem tall */

body {
    padding-top: 3.5rem;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-top: 1px solid white;
}

#seriesgraph {}

input {
    box-shadow: none;
}

/* #total_p {
    font-size: 15px;
}
#total_counter {
    font-size: 55px;
} */

#jumbo_totals {
    background-color: #5500b1;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 4%;
    margin-bottom: 55px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0em;
}

#container_dailytimeseries, #container_totaltimeseries {
    background-color: ;
    border-radius: 0em;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #e9e7e7;
}

#mynavbar {
    background-color: #151E3F;
    font-family: 'Montserrat', sans-serif;
}

#totalnewcases {
    font-size: 18px;
}

#table-header {
    color: white;
    background-color: #3b3c44;
}

html {
    position: relative;
    min-height: 100%;
}

#info {
    font-family: 'Karla', sans-serif;
    color: #777777;
    font-size: 13px;
}

#mytable {
    font-size: 15px;
    margin-bottom: 10%;
    border-radius: 0em;
}

#ind_tablebody {
    font-size: ;
}

td {
    white-space: nowrap;
}

#td_state {
    white-space: normal;
    font-weight: 600;
}

#td_country {
    white-space: normal;
    font-weight: 600;
}

#navpills {
    margin-bottom: 50px;
    border-radius: 0em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.card {
    font-family: 'Montserrat', sans-serif;
    border-radius: 0em;
    border: none;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

#card-container {
    margin-bottom: 50px;
}

.card-title {
    font-size: 30px;
}

.card-text {
    font-size: 18px;
}

#newcases {
    background-color: #4a7afc;
    color: white;
}

#activecases {
    background-color: #be00af;
    color: white;
}

#recoveredcases {
    background-color: #19af47;
    color: white;
}

#deaths {
    background-color: #fc3e3e;
    color: white;
}

#newdeaths {
    background-color: #f5814c;
    color: white;
}

#affectedCountriesh3 {
    font-family: 'Montserrat', sans-serif;
    color: #8a8a8a;
    margin-bottom: 25px;
    margin-top: 50px;
}

div.dataTables_filter input {
    width: auto;
}

#totalIndvTestd, #totalSampTestd {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#samples_h3 {
    font-family: 'Montserrat', sans-serif;
    color: #8a8a8a;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

#individuals_h3 {
    font-family: 'Montserrat', sans-serif;
    color: #8580ff;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

#up_newcases {
    color: #ff0000;
}

#up_newdeaths {
    color: #ff0000;
}

#up_newrecovered {
    color: #3cad53;
}

#india_newcases, #india_newdeaths, #india_newrecovered {
    font-size: 13px;
}

tspan {
    font-size: ;
    font-family: 'Montserrat', sans-serif;
}

/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    #total_p {
        font-size: 20px;
    }
    #total_counter {
        font-size: 60px;
    }
    #mytable {
        font-size: 15px;
        margin-bottom: 10%;
        border-radius: 0em;
    }
    tbody {
        display: block;
        height: 500px;
        overflow: auto;
    }
    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    #info_table {
        font-family: 'Karla', sans-serif;
        color: #777777;
        font-size: 13px;
        display: none;
    }
}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    #total_p {
        font-size: 20px;
    }
    #total_counter {
        font-size: 60px;
    }
    #mytable {
        font-size: 15px;
        margin-bottom: 10%;
        border-radius: 0em;
    }
    tbody {
        display: block;
        height: 400px;
        overflow: auto;
    }
    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    #info_table {
        font-family: 'Karla', sans-serif;
        color: #777777;
        font-size: 13px;
        display: none;
    }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    #total_p {
        font-size: 20px;
    }
    #total_counter {
        font-size: 60px;
    }
    .card-title {
        font-size: 25px;
    }
    #mytable {
        font-size: 15px;
        margin-bottom: 20%;
        border-radius: 0em;
    }
    tbody {
        display: block;
        height: 300px;
        overflow: auto;
    }
    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    #info_table {
        font-family: 'Karla', sans-serif;
        color: #777777;
        font-size: 13px;
        display: ;
    }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #total_p {
        font-size: 20px;
    }
    #total_counter {
        font-size: 45px;
    }
    .card-title {
        font-size: 20px;
    }
    .card {
        min-width: fit-content;
    }
    #mytable {
        font-size: 13px;
        margin-bottom: 10%;
        border-radius: 0em;
    }
    tbody {
        display: block;
        height: 400px;
        overflow: auto;
    }
    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    #info_table {
        font-family: 'Karla', sans-serif;
        color: #777777;
        font-size: 13px;
    }
    #dailyseriesgraph {
        margin-bottom: 40px;
    }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    #total_p {
        font-size: 20px;
    }
    #total_counter {
        font-size: 45px;
    }
    .card-title {
        font-size: 20px;
    }
    .card {
        min-width: fit-content;
    }
    #mytable {
        font-size: 13px;
        margin-bottom: 20%;
        border-radius: 0em;
    }
    #samples_h3 {
        font-family: 'Montserrat', sans-serif;
        color: #8a8a8a;
        margin-bottom: 28px;
        margin-top: 50px;
        margin-left: 10%;
        margin-right: 10%;
    }
    #info_table {
        font-family: 'Karla', sans-serif;
        color: #777777;
        font-size: 13px;
    }
    #dailyseriesgraph {
        margin-bottom: 40px;
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    #total_p {
        font-size: 15px;
    }
    #total_counter {
        font-size: 45px;
    }
    .card-title {
        font-size: 20px;
    }
    .card {
        min-width: fit-content;
    }
    #mytable {
        font-size: 13px;
        margin-bottom: 20%;
        border-radius: 0em;
    }
    #samples_h3 {
        font-family: 'Montserrat', sans-serif;
        color: #8a8a8a;
        margin-bottom: 28px;
        margin-top: 50px;
        margin-left: 10%;
        margin-right: 10%;
    }
    #info_table {
        font-family: 'Karla', sans-serif;
        color: #777777;
        font-size: 13px;
    }
    #dailyseriesgraph {
        margin-bottom: 40px;
    }
}

@media (min-width: 200px) and (max-width: 480px) {
    #total_counter {
        font-size: 35px;
    }
    #mytable {
        font-size: 13px;
        margin-bottom: 20%;
        border-radius: 0em;
    }
    #samples_h3 {
        font-family: 'Montserrat', sans-serif;
        color: #8a8a8a;
        margin-bottom: 28px;
        margin-top: 50px;
        margin-left: 10%;
        margin-right: 10%;
    }
    #info_table {
        font-family: 'Karla', sans-serif;
        color: #777777;
        font-size: 13px;
    }
    #dailyseriesgraph {
        margin-bottom: 40px;
    }
}
