<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>COVID-19 Tracker</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Karla|Montserrat&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/8.0.4/highcharts.min.js"></script>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>

	<!-- <script src="https://code.highcharts.com/maps/highmaps.js"></script>
		<script src="https://code.highcharts.com/maps/modules/data.js"></script>
		<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
		<script src="https://code.highcharts.com/mapdata/custom/world.js"></script> -->


	<!-- <link rel="stylesheet" type="text/css"
		href="https://cdn.jsdelivr.net/gh/thecoducer/covid19-tracker/src/main/resources/static/css/home.css" />

	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/gh/thecoducer/covid19-tracker/src/main/resources/static/js/home.js"></script> -->

	<link rel="stylesheet" type="text/css" href="/css/home.css" />

	<script type="text/javascript" src="/js/home.js"></script>



</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="mynavbar">
		<a class="navbar-brand" href="http://tcovid19.herokuapp.com/">COVID-19 Tracker</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">

				</li>
				<li class="nav-item">

				</li>
				<li class="nav-item">

				</li>
				<li class="nav-item dropdown">

					<div class="dropdown-menu" aria-labelledby="dropdown01">

					</div>
				</li>
			</ul>
			<span class="my-2 my-lg-0" style="font-family: 'Karla', sans-serif;">
				<a class=" my-2 my-sm-0" href="https://thecoducer.github.io/covid19-tracker/"
					target="_blank" style="color: white;">About</a>
					&nbsp;
				<a class="my-2 my-sm-0" href="https://forms.gle/NycW8q9PN3BgQETZ9" style="color: white;">Contact</a>
			</span>
		</div>
	</nav>

	<main role="main">

		<div class="container">

			<!-- Main jumbotron for a primary marketing message or call to action -->
			<div class="jumbotron container" id="jumbo_totals">

				<div class="row">

					<div class="col-sm">
						<p class="display-3" id="total_counter" th:text="${totalIndiaCases}"></p>
						<p class="lead" id="total_p">Total number of cases in India</p>
					</div>

					<div class="col-sm">
						<p class="display-3" id="total_counter" th:text="${totalWorldCases}"></p>
						<p class="lead" id="total_p">Total number of cases in the World</p>
					</div>

				</div>

				<div class="col-sm" style="margin-top: 25px; font-family: 'Karla', sans-serif;">
					<a type="button" href="https://www.altnews.in/?s=coronavirus" class="btn btn-light btn-sm"
						target="_blank" id="links">COVID-19 Fake News</a>
					<a id="latestnewsbtn" type="button" href="https://news.google.com/topics/CAAqBwgKMMqAmAsw9KmvAw?oc=3&ceid=IN:en"
						class="btn btn-light btn-sm" target="_blank">Latest COVID-19 News</a>
				</div>
			</div>

			<nav id="navpills" style="font-family: 'Karla', sans-serif;">
				<div class="nav nav-pills" id="nav-tab" role="tablist">
					<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
						aria-controls="nav-home" aria-selected="true">India</a>

					<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
						aria-controls="nav-profile" aria-selected="false">World</a>
				</div>
			</nav>




			<div class="tab-content" id="nav-tabContent">

				<!-- INDIA STATS -->
				<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

					<div class="container" id="card-container">
						<div class="row">
							<div class="card col-sm" style="width: 18rem;">
								<div class="card-body" id="newcases">
									<p class="card-title" th:text="${totalIndiaNewCases}"></p>
									<p class="card-text">new cases today</p>
								</div>
							</div>

							<div class="card col-sm" style="width: 18rem;">
								<div class="card-body" id="activecases">
									<p class="card-title" th:text="${totalIndiaActiveCases}"></p>
									<p class="card-text">active cases in total</p>
								</div>
							</div>

							<div class="card col-sm" style="width: 18rem;">
								<div class="card-body" id="recoveredcases">
									<p class="card-title">
										<span th:text="${totalIndiaRecoveredCases}"></span>
										<span id="new_counter" th:if="${totalIndiaNewRecoveredCases != '0'}">
											[+<span th:text="${totalIndiaNewRecoveredCases}"></span>]
										</span>
									</p>
									<p class="card-text">recovered cases</p>
								</div>
							</div>

							<div class="card col-sm" style="width: 18rem;">
								<div class="card-body" id="deaths">
									<p class="card-title">
										<span th:text="${totalIndiaDeaths}"></span>
										<span id="new_counter" th:if="${totalIndiaNewDeaths != '0'}">
											[+<span th:text="${totalIndiaNewDeaths}"></span>]
										</span>
									</p>
									<p class="card-text">deaths</p>
								</div>
							</div>

						</div>
					</div>

					<div class="container" id="container_timeseries">

						<div class="row">

							<div class="col-md" id="dailyseriesgraph">
							</div>

							<div class="col-md" id="totalseriesuniformgraph">
							</div>

							<div class="col-md" id="totalserieslogarithmicgraph">
							</div>

						</div>
						<p class="text-center" id="info">Tap on any label to show/hide its respective line</p>

					</div>


					<h3 class="text-center" id="samples_h3">
						<span th:text="${totalSamplesTested}"></span>
						samples tested till <span th:text="${timestampSamples}"></span>
					</h3>


					<h3 class="text-center" id="individuals_h3">
						<span th:text="${totalIndividualTested}"></span>
						individuals tested till <span th:text="${timestampIndividual}"></span>
					</h3>

					<!-- <div class="container">
						<div class="row">
							<div class="col-md">
								<select class="form-control" id="country">
									<option value="None">-- Select State --</option>
									<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
									<option value="Andhra Pradesh">Andhra Pradesh</option>
									<option value="Arunachal Pradesh">Arunachal Pradesh</option>
									<option value="Assam">Assam</option>
									<option value="Bihar">Bihar</option>
									<option value="Chandigarh">Chandigarh</option>
									<option value="Chhattisgarh">Chhattisgarh</option>
									<option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
									<option value="Daman and Diu">Daman and Diu</option>
									<option value="Delhi">Delhi</option>
									<option value="Goa">Goa</option>
									<option value="Gujarat">Gujarat</option>
									<option value="Haryana">Haryana</option>
									<option value="Himachal Pradesh">Himachal Pradesh</option>
									<option value="Jammu and Kashmir">Jammu and Kashmir</option>
									<option value="Jharkhand">Jharkhand</option>
									<option value="Karnataka">Karnataka</option>
									<option value="Kerala">Kerala</option>
									<option value="Ladakh">Ladakh</option>
									<option value="Lakshadweep">Lakshadweep</option>
									<option value="Madhya Pradesh">Madhya Pradesh</option>
									<option value="Maharashtra">Maharashtra</option>
									<option value="Manipur">Manipur</option>
									<option value="Meghalaya">Meghalaya</option>
									<option value="Mizoram">Mizoram</option>
									<option value="Nagaland">Nagaland</option>
									<option value="Odisha">Odisha</option>
									<option value="Puducherry">Puducherry</option>
									<option value="Punjab">Punjab</option>
									<option value="Rajasthan">Rajasthan</option>
									<option value="Sikkim">Sikkim</option>
									<option value="Tamil Nadu">Tamil Nadu</option>
									<option value="Telangana">Telangana</option>
									<option value="Tripura">Tripura</option>
									<option value="Uttar Pradesh">Uttar Pradesh</option>
									<option value="Uttarakhand">Uttarakhand</option>
									<option value="West Bengal">West Bengal</option>
								</select>
							</div>

							<div class="col-md" id="stategraph">
							</div>
						</div>
					</div> -->


					<p class="text-center" id="info_table">Swipe the table left or right to read more</p>
					<p class="text-center" id="info">Tap on any state row to view its district data</p>

					<div class="table-responsive" id="mytable">
						<table class="table table-hover pointer" id="table_id">
							<thead id="table-header">
								<tr>
									<th>State</th>
									<th>Total</th>
									<th>Active</th>
									<th>Tot Recvrd</th>
									<th>Tot Deaths</th>
									<th>Recvrd %</th>
									<th>Death %</th>
									<th id="india_casesrate">Cases %</th>
								</tr>
							</thead>
							<tbody id="india_tbody">
								<tr th:each="indiaStat : ${indiaStats}" data-toggle="modal"
									data-target="#districtModal">

									<td id="td_state" th:text="${indiaStat.state}"></td>

									<td class="text-right">
										<span id="up_newcases" th:if="${indiaStat.delta_Confirmed != '0'}">
											<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
												viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
												stroke-linecap="round" stroke-linejoin="round">
												<line x1="12" y1="19" x2="12" y2="5"></line>
												<polyline points="5 12 12 5 19 12"></polyline>
											</svg>

											<span id="india_newcases" th:text="${indiaStat.delta_Confirmed}"></span>
										</span>
										<span th:text="${indiaStat.confirmed}"></span>
									</td>

									<td class="text-right" th:text="${indiaStat.active}"></td>

									<td class="text-right">
										<span id="up_newrecovered" th:if="${indiaStat.delta_Recovered != '0'}">
											<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
												viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
												stroke-linecap="round" stroke-linejoin="round">
												<line x1="12" y1="19" x2="12" y2="5"></line>
												<polyline points="5 12 12 5 19 12"></polyline>
											</svg>

											<span id="india_newrecovered" th:text="${indiaStat.delta_Recovered}"></span>
										</span>
										<span th:text="${indiaStat.recovered}"></span>
									</td>

									<td class="text-right">
										<span id="up_newdeaths" th:if="${indiaStat.delta_Deaths != '0'}">
											<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
												viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
												stroke-linecap="round" stroke-linejoin="round">
												<line x1="12" y1="19" x2="12" y2="5"></line>
												<polyline points="5 12 12 5 19 12"></polyline>
											</svg>

											<span id="india_newdeaths" th:text="${indiaStat.delta_Deaths}"></span>
										</span>
										<span th:text="${indiaStat.deaths}"></span>
									</td>

									<td class="text-right" th:text="${indiaStat.recoveredRate}"></td>
									<td class="text-right" th:text="${indiaStat.deathRate}"></td>
									<td class="text-right" th:text="${indiaStat.casePercentage}"></td>

								</tr>
							</tbody>
						</table>
					</div>

					<!-- Modal for district data -->

					<div class="modal fade" id="districtModal" tabindex="-1" role="dialog"
						aria-labelledby="districtModalTitle" aria-hidden="true">
						<div class="modal-dialog .modal-dialog-centered modal-sm modal-dialog-scrollable"
							role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h6 class="modal-title" id="modaltitle"></h6>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="table-responsive">
										<table class="table table-hover" id="district_table">
											<thead id="table-header">
												<tr>
													<th>District</th>
													<th class="text-right">Confirmed</th>
												</tr>
											</thead>

											<tbody id="AN_tbody">
												<tr th:each="AN : ${AndamanandNicobarIslands}">

													<td th:text="${AN.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${AN.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${AN.deltaConfirmed}"></span>
														</span>

														<span th:text="${AN.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="AP_tbody">
												<tr th:each="AP : ${AndhraPradesh}">

													<td th:text="${AP.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${AP.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${AP.deltaConfirmed}"></span>
														</span>

														<span th:text="${AP.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="AR_tbody">
												<tr th:each="AR : ${ArunachalPradesh}">

													<td th:text="${AR.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${AR.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${AR.deltaConfirmed}"></span>
														</span>

														<span th:text="${AR.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="AS_tbody">
												<tr th:each="AS : ${Assam}">

													<td th:text="${AS.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${AS.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${AS.deltaConfirmed}"></span>
														</span>

														<span th:text="${AS.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="BR_tbody">
												<tr th:each="BR : ${Bihar}">

													<td th:text="${BR.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${BR.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${BR.deltaConfirmed}"></span>
														</span>

														<span th:text="${BR.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="CH_tbody">
												<tr th:each="CH : ${Chandigarh}">

													<td th:text="${CH.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${CH.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${CH.deltaConfirmed}"></span>
														</span>

														<span th:text="${CH.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="CT_tbody">
												<tr th:each="CT : ${Chhattisgarh}">

													<td th:text="${CT.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${CT.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${CT.deltaConfirmed}"></span>
														</span>

														<span th:text="${CT.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="DN_tbody">
												<tr th:each="DN : ${DadraandNagarHaveli}">

													<td th:text="${DN.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${DN.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${DN.deltaConfirmed}"></span>
														</span>

														<span th:text="${DN.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="DL_tbody">
												<tr th:each="DL : ${Delhi}">

													<td th:text="${DL.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${DL.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${DL.deltaConfirmed}"></span>
														</span>

														<span th:text="${DL.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="GA_tbody">
												<tr th:each="GA : ${Goa}">

													<td th:text="${GA.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${GA.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${GA.deltaConfirmed}"></span>
														</span>

														<span th:text="${GA.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="GJ_tbody">
												<tr th:each="GJ : ${Gujarat}">

													<td th:text="${GJ.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${GJ.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${GJ.deltaConfirmed}"></span>
														</span>

														<span th:text="${GJ.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="HR_tbody">
												<tr th:each="HR : ${Haryana}">

													<td th:text="${HR.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${HR.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${HR.deltaConfirmed}"></span>
														</span>

														<span th:text="${HR.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="HP_tbody">
												<tr th:each="HP : ${HimachalPradesh}">

													<td th:text="${HP.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${HP.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${HP.deltaConfirmed}"></span>
														</span>

														<span th:text="${HP.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="JK_tbody">
												<tr th:each="JK : ${JammuandKashmir}">

													<td th:text="${JK.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${JK.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${JK.deltaConfirmed}"></span>
														</span>

														<span th:text="${JK.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="JH_tbody">
												<tr th:each="JH : ${Jharkhand}">

													<td th:text="${JH.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${JH.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${JH.deltaConfirmed}"></span>
														</span>

														<span th:text="${JH.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="KA_tbody">
												<tr th:each="KA : ${Karnataka}">

													<td th:text="${KA.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${KA.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${KA.deltaConfirmed}"></span>
														</span>

														<span th:text="${KA.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="KL_tbody">
												<tr th:each="KL : ${Kerala}">

													<td th:text="${KL.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${KL.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${KL.deltaConfirmed}"></span>
														</span>

														<span th:text="${KL.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="LA_tbody">
												<tr th:each="LA : ${Ladakh}">

													<td th:text="${LA.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${LA.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${LA.deltaConfirmed}"></span>
														</span>

														<span th:text="${LA.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="MP_tbody">
												<tr th:each="MP : ${MadhyaPradesh}">

													<td th:text="${MP.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${MP.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${MP.deltaConfirmed}"></span>
														</span>

														<span th:text="${MP.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="MH_tbody">
												<tr th:each="MH : ${Maharashtra}">

													<td th:text="${MH.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${MH.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${MH.deltaConfirmed}"></span>
														</span>

														<span th:text="${MH.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="MN_tbody">
												<tr th:each="MN : ${Manipur}">

													<td th:text="${MN.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${MN.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${MN.deltaConfirmed}"></span>
														</span>

														<span th:text="${MN.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="MZ_tbody">
												<tr th:each="MZ : ${Mizoram}">

													<td th:text="${MZ.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${MZ.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${MZ.deltaConfirmed}"></span>
														</span>

														<span th:text="${MZ.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="ORR_tbody">
												<tr th:each="ORR : ${Odisha}">

													<td th:text="${ORR.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${ORR.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${ORR.deltaConfirmed}"></span>
														</span>

														<span th:text="${ORR.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="PY_tbody">
												<tr th:each="PY : ${Puducherry}">

													<td th:text="${PY.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${PY.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${PY.deltaConfirmed}"></span>
														</span>

														<span th:text="${PY.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="PB_tbody">
												<tr th:each="PB : ${Punjab}">

													<td th:text="${PB.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${PB.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${PB.deltaConfirmed}"></span>
														</span>

														<span th:text="${PB.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="RJ_tbody">
												<tr th:each="RJ : ${Rajasthan}">

													<td th:text="${RJ.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${RJ.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${RJ.deltaConfirmed}"></span>
														</span>

														<span th:text="${RJ.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="TN_tbody">
												<tr th:each="TN : ${TamilNadu}">

													<td th:text="${TN.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${TN.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${TN.deltaConfirmed}"></span>
														</span>

														<span th:text="${TN.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="TG_tbody">
												<tr th:each="TG : ${Telangana}">

													<td th:text="${TG.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${TG.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${TG.deltaConfirmed}"></span>
														</span>

														<span th:text="${TG.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="TR_tbody">
												<tr th:each="TR : ${Tripura}">

													<td th:text="${TR.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${TR.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${TR.deltaConfirmed}"></span>
														</span>

														<span th:text="${TR.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="UP_tbody">
												<tr th:each="UP : ${UttarPradesh}">

													<td th:text="${UP.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${UP.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${UP.deltaConfirmed}"></span>
														</span>

														<span th:text="${UP.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="UT_tbody">
												<tr th:each="UT : ${Uttarakhand}">

													<td th:text="${UT.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${UT.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${UT.deltaConfirmed}"></span>
														</span>

														<span th:text="${UT.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="WB_tbody">
												<tr th:each="WB : ${WestBengal}">

													<td th:text="${WB.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${WB.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${WB.deltaConfirmed}"></span>
														</span>

														<span th:text="${WB.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="NL_tbody">
												<tr th:each="NL : ${Nagaland}">

													<td th:text="${NL.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${NL.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${NL.deltaConfirmed}"></span>
														</span>

														<span th:text="${NL.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="ML_tbody">
												<tr th:each="ML : ${Meghalaya}">

													<td th:text="${ML.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${ML.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${ML.deltaConfirmed}"></span>
														</span>

														<span th:text="${ML.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="DD_tbody">
												<tr th:each="DD : ${DamanandDiu}">

													<td th:text="${DD.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${DD.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>
															<span th:text="${DD.deltaConfirmed}"></span>
														</span>

														<span th:text="${DD.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="LD_tbody">
												<tr th:each="LD : ${Lakshadweep}">

													<td th:text="${LD.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${LD.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${LD.deltaConfirmed}"></span>
														</span>

														<span th:text="${LD.confirmed}"></span>
													</td>

												</tr>
											</tbody>

											<tbody id="SK_tbody">
												<tr th:each="SK : ${Sikkim}">

													<td th:text="${SK.districtName}" id="district_name"></td>

													<td class="text-right">
														<span id="up_newcases" th:if="${SK.deltaConfirmed != '0'}">
															<svg xmlns="http://www.w3.org/2000/svg" width="12"
																height="12" viewBox="0 0 24 24" fill="none"
																stroke="currentColor" stroke-width="2"
																stroke-linecap="round" stroke-linejoin="round">
																<line x1="12" y1="19" x2="12" y2="5"></line>
																<polyline points="5 12 12 5 19 12"></polyline>
															</svg>

															<span th:text="${SK.deltaConfirmed}"></span>
														</span>

														<span th:text="${.confirmed}"></span>
													</td>

												</tr>
											</tbody>

										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- end modal -->

				</div>


				<!-- WORLD STATS -->
				<div class="tab-pane fade " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

					<div class="container" id="card-container">
						<div class="row">
							<div class="card col-sm" style="width: 18rem;">
								<div class="card-body" id="newcases">
									<p class="card-title" th:text="${totalNewCases}"></p>
									<p class="card-text">new cases today</p>
								</div>
							</div>

							<div class="card col-sm" style="width: 18rem;">
								<div class="card-body" id="activecases">
									<p class="card-title" th:text="${totalActiveCases}"></p>
									<p class="card-text">active cases in total</p>
								</div>
							</div>

							<div class="card col-sm" style="width: 18rem;">
								<div class="card-body" id="recoveredcases">
									<p class="card-title" th:text="${totalRecoveredCases}"></p>
									<p class="card-text">recovered cases in total</p>
								</div>
							</div>

							<div class="card col-sm" style="width: 18rem;">
								<div class="card-body" id="newdeaths">
									<p class="card-title" th:text="${totalNewDeathsCount}"></p>
									<p class="card-text">died today</p>
								</div>
							</div>

							<div class="card col-sm" style="width: 18rem;">
								<div class="card-body" id="deaths">
									<p class="card-title" th:text="${totalDeathCount}"></p>
									<p class="card-text">deaths in total</p>
								</div>
							</div>
						</div>
					</div>

					<!-- <div class="container" id="container_worldmap">

						<div class="row">

							<div class="col-md" id="worldmap">
							</div>

						</div>
						<p class="text-center" id="info">Tap on any label to show/hide its respective line</p>

					</div> -->

					<div class="container" id="container_worldgraph">

						<div class="row">

							<div class="col-md" id="worldtotalcasesgraph">
							</div>

							<div class="col-md margin-top-40" id="worlddeathsgraph">
							</div>

						</div>

					</div>

					<div class="container text-center" id="container_recoveredgraph">

						<div class="row">

							<div class="col-md" id="worldrecoveredgraph">
							</div>

						</div>
						<p class="text-center" id="info">Tap on any label to show/hide its respective line</p>

					</div>



					<h3 class="text-center" id="affectedCountriesh3">
						<span th:text="${affectedCountries}"></span>
						countries affected
					</h3>

					<p class="text-center" id="info_table">Swipe the table left or right to read more</p>

					<div class="table-responsive" id="mytable">
						<table class="table table-hover" id="table_id2">
							<thead id="table-header">
								<tr>
									<th>Country</th>
									<th>Total</th>
									<th>Active</th>
									<th>Tot Recvrd</th>
									<th>Tot Deaths</th>
									<th>Recvrd %</th>
									<th>Death %</th>
									<th>Cases %</th>
									<th>Tot tests</th>
									<th>Tests/ 1M pop</th>
								</tr>
							</thead>
							<tbody id="world_tbody">
								<tr th:each="worldStat : ${worldStats}">
									<td id="td_country">
										<span th:text="${worldStat.country}"></span>
										<!-- &nbsp; <img
											th:src="${worldStat.countryInfo.flag}" width="20" height="20"> -->
									</td>
									<td class="text-right">
										<span id="up_newcases" th:if="${worldStat.todayCases != '0'}">
											<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
												viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
												stroke-linecap="round" stroke-linejoin="round">
												<line x1="12" y1="19" x2="12" y2="5"></line>
												<polyline points="5 12 12 5 19 12"></polyline>
											</svg>
											<span th:text="${worldStat.todayCases}"></span>
										</span>
										<span th:text="${worldStat.cases}"></span>
									</td>

									<td class="text-right" th:text="${worldStat.active}"></td>

									<td class="text-right" th:text="${worldStat.recovered}"></td>

									<td class="text-right">
										<span id="up_newdeaths" th:if="${worldStat.todayDeaths != '0'}">
											<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
												viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
												stroke-linecap="round" stroke-linejoin="round">
												<line x1="12" y1="19" x2="12" y2="5"></line>
												<polyline points="5 12 12 5 19 12"></polyline>
											</svg>
											<span th:text="${worldStat.todayDeaths}"></span>
										</span>
										<span th:text="${worldStat.deaths}"></span>
									</td>

									<td class="text-right" th:text="${worldStat.recoveredRate}"></td>

									<td class="text-right" th:text="${worldStat.deathRate}"></td>

									<td class="text-right" th:text="${worldStat.casePercentage}"></td>

									<td class="text-right" th:text="${worldStat.tests}"></td>

									<td class="text-right" th:text="${worldStat.testsPerOneMillion}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>

	</main>

	<footer class="footer" style="margin-top: 50px; margin-bottom: -20px;">
		<div class="text-center">
			Made with <i class="icon ion-heart"></i> by <a href="https://thecoducer.github.io/" target="_blank">The
				Coducer</a>
		</div>
	</footer>

	<script>
		$(document).ready(function () {
			$('#table_id').dataTable();
		});

		$(document).ready(function () {
			$('#table_id2').dataTable();
		});

		$('#table_id').dataTable({
			"bInfo": false,
			"paging": false,
			"responsive": true,
			language: {
				searchPlaceholder: "Search state",
				search: ""
			},
			"order": [],
			'columnDefs': [{
				'targets': [1, 3, 4], /* column index */
				'orderable': false, /* true or false */

			}]
		});

		$('#table_id2').dataTable({
			"bInfo": false,
			"paging": false,
			"responsive": true,
			language: {
				searchPlaceholder: "Search country",
				search: ""
			},
			"order": [],
			'columnDefs': [{
				'targets': [1, 4], /* column index */
				'orderable': false, /* true or false */

			}]
		});

		$('div.dataTables_filter input').addClass('form-control');

	</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104755350-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-104755350-2');
	</script>


</body>

</html>